{% extends 'base.html.twig' %}

{#{% extends 'includes/caroussel.html.twig' %}#}

{% block title %}{% include('includes/nav_title.html.twig') %} About{% endblock %}

{% block titre %}
    About
{% endblock %}

{% block content %}


    <section class="section" style="min-height: 80vh">
        <div class="container">

            <h2 class="subtitle has-text-centered">

                Ce que vous devez savoir sur l'artiste <strong class="has-text-info">Vinny Vixi</strong>

            </h2>

            {% include('includes/caroussel.html.twig') %}

        </div>

    </section>


{% endblock %}
