{% extends 'base.html.twig' %}

{% block title %}{% trans %} About{% endtrans %}{% endblock %}

{% block description %}
    <meta name="description" content="What you should know about the Beat Maker Vinny Vixi. Ce que vous devez savoir du Beat Maker Vinny Vixi">
{% endblock %}


{% block titre_landscape %}
    {% trans %}About{% endtrans %}
{% endblock %}

{% block titre %}
    {% trans %}About{% endtrans %}
{% endblock %}

{% block section_bg %}background: center / cover no-repeat url('{{ asset('build/images/ghetto.7f343eea.svg')}}'){% endblock %}

{% block entete %}

    <h2 class="subtitle has-text-centered is-4 is-family-primary has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(0,0,0,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        {% trans %}What you need to know about the Beatmaker{% endtrans %}
    </h2>

{% endblock %}

{% block img_header %}
    <div class="header-background-image" style="background: center / auto 100% no-repeat url({{ asset('build/images/carte_son.0adfb98f.jpg') }});box-shadow: 0px 0px 30px 10px black;">
        <div class="header-background-layer">
        </div>
    </div>
{% endblock %}

{% block content %}

        {% include('about/caroussel.html.twig') %}

    <div class="block-twitter" style="box-shadow: rgb(0, 0, 0) 0px 0px 15px;background: rgba(0,0,0,.8);margin-bottom: .75rem">

        <div class="column social-share is-half is-full-touch" style="align-items: center;justify-content: space-evenly">

            <div class="API-twitter" style="display: flex;align-items: center;justify-content: center;">
                <a class="twitter-timeline" data-height="100%" data-lang="en" data-theme="light" href="https://twitter.com/VinnyVixi?ref_src=twsrc%5Etfw">Tweets by VinnyVixi</a> <script async src="https://platform.twitter.com/widgets.js"></script>
            </div>

        </div>

        <div class="column is-half is-full-touch">

            <label class="label is-size-4 is-family-monospace has-text-centered" style="color: white;text-shadow: rgb(0, 40, 255) 0px 0px 15px;">{% trans %}Check out all my channels !{% endtrans %}</label>

            {% include 'includes/socials_networks.html.twig' %}

            <figure style="width: 100%;display: flex;align-items: center;justify-content: center">
                <img class="logo-vinny-about" src="{{ asset('build/images/vinny_logo_reducidisimo.13fc4ae4.svg') }}" alt="logo vinnyvixi">
            </figure>

        </div>
    </div>

    {{ include('includes/donation.html.twig') }}


    <script>
        let navLinkAbout = document.getElementById('navLinkAbout');
        navLinkAbout.classList.add("navlink-active");
    </script>


{% endblock %}

