{% extends 'includes/header/header.html.twig' %}

{% block navbarend %}

    <div class="navbar-nav is-size-2-touch is-size-3-desktop">

        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('easyadmin') }}" class="nav-link" id="dashboard">
                Dashboard
            </a>

            <a href="{{ path('admin_app_logout') }}" class="nav-link" id="deco">
                Log out
            </a>
        {% endif %}

{% endblock %}


