{% extends 'includes/header/header.html.twig' %}

{% block navbarend %}

    <div class="navbar-end is-size-4">

        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('admin_dashboard') }}" class="navbar-item">
                Dashboard
            </a>

            <a href="{{ path('admin_app_logout') }}" class="navbar-item" id="deco">
                Deconnexion
            </a>
        {% else %}
            <a href="{{ path('admin_login') }}" class="navbar-item">
                Connexion Admin
            </a>
        {% endif %}

    </div>

{% endblock %}


