:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: rgba(255,255,255,0.7);
    /* make the base font size smaller */
    --font-size-base: 1rem;
    /* remove all border radius to make corners straight */
    --border-radius: 2px;
    /*--label-color: white;*/
    --form-bg:rgba(10, 10, 10, 0.9);
}
*{
    font-family: Amiko;
}

.main-sidebar{
    padding: 12px;
    box-shadow: var(--box-shadow-lg);
    font-family: 'Khand', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}
.main-sidebar a{
    color: white;
}
aside.main-sidebar{
    background-color: #0a0a0a;
    box-shadow: rgba(0,0,0,0.8) 0 0 5px 3px;
}

.content-body{
background-color: rgba(10, 10, 10, 0.9);
}
.sidebar-menu a{
    padding: 5px;
}
.sidebar-menu span{
    color: white;
}
aside.main-sidebar i.fa{
    color: white !important;
}
.datagrid tbody tr:hover td, .datagrid tbody tr:hover th {
    background: none;
}
.datagrid td, .datagrid th {
    border-bottom: rgba(255,255,255,.2) 1px solid;
}
#navigation-toggler {
    color: white;
}

body.show .form-control {
    border: 1px solid rgba(150,150,150,.2);
}
div.field-audio div.form-widget div.form-control{
    border: none;
    background: rgba(0,0,0,0);
}


.sidebar-menu li:not(.submenu-active).active{
    font-weight: 900;
}

.user{
    font-size: 1.5rem;
    color: #4c5367 !important;
}

body{
    background:#121212 top fixed no-repeat url('../build/images/vinny_logo_reducidisimo.e28edbc4.png');
}

.content-header{
    background: #0a0a0a;
    border-bottom: none;
}
.content-footer {
    background: #0a0a0a !important;
}
.datagrid thead {
    background: #0a0a0a;
    color: white;
}
.datagrid thead span {
    color: inherit;
}
.datagrid thead a{
    color: #6174d1;
}

h1.title{
    color: white;
}


.content{
    background-color: rgba(0,0,0,0);
    box-shadow: rgba(0,0,0,0.8) 0 0 5px 3px;
}
.content-footer{
    background-color: rgba(255, 255, 255, 0.71);
}
td.actions{
    white-space: nowrap;
}
td{
    color: white;
}
.main-header #header-logo a strong{
    font-family: "Rock Salt";
    color: white;
    text-shadow: rgb(0, 40, 255) 0px 0px 15px;
}
.navbar-custom-menu .user{
    color: white !important;
    text-shadow: rgb(0, 40, 255) 0px 0px 15px;
}
.fa-search{
    color: #000 !important;
}
body.show .form-horizontal {
    background: rgba(10, 10, 10, 0.9);
}




@media screen and (max-width: 1000px){
    .is-hidden-touch{
        display: none;
    }
}


@media screen and (max-width: 400px){
    .is-hidden-mobile{
        display: none;
    }
}






