:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: rgba(255,255,255,0.7);
    /* make the base font size smaller */
    --font-size-base: 1rem;
    /* remove all border radius to make corners straight */
    --border-radius: 2px;
    /*--label-color: white;*/
}

.main-sidebar{
    padding: 12px;
    box-shadow: var(--box-shadow-lg);
    font-family: 'Khand', sans-serif;
    font-weight: light;
    font-size: 1rem;
}
.main-sidebar a{
    color: white;
}
aside.main-sidebar{
    background-color: #292929;
}

.content-body{
background-color: rgba(255,255,255,0.5);
}
.sidebar-menu a{
    padding: 5px;
}
.sidebar-menu span{
    color: white;
}
aside.main-sidebar i.fa{
    color: white !important;
}


.sidebar-menu li:not(.submenu-active).active{
    font-weight: 900;
}

.user{
    font-size: 1.5rem;
    color: #4c5367 !important;
}

body{
    background:rgba(0,0,0,.9) top no-repeat url('../build/images/vinny_logo_reducidisimo.e28edbc4.png');
    /*background-color: ;*/
}

.content-header{
    background: #292929;
}

h1.title{
    color: white;
}


.content{
    background-color: rgba(0,0,0,0);
}
.content-footer{
    background-color: rgba(255, 255, 255, 0.71);
}
td.actions{
    white-space: nowrap;
}





@media screen and (max-width: 1000px){
    .is-hidden-touch{
        display: none;
    }
}


@media screen and (max-width: 400px){
    .is-hidden-mobile{
        display: none;
    }
}






