{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Videos{% endblock %}

{% block titre %}
    Videos
{% endblock %}

{% block content %}

    <section class="section" style="min-height: 80vh">
        <div class="container">

            {% for sectionvideo in section %}
                <div class="column box">

                    <div class="columns has-background-{{ sectionvideo.couleur }}">
                        <label for="titre" class="title text-uppercase" style="margin: auto; color: white">
                            {{ sectionvideo.titre }}
                        </label>
                    </div>

                    {% for video in video %}

                        {% if video.section == sectionvideo.titre %}

                            {{ video.titre }}

                        {% endif %}

                    {% endfor %}

                </div>
            {% endfor %}

        </div>
    </section>


{% endblock %}
