{% extends 'base_admin.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Admin{% endblock %}

{% block description %}
    <meta name="description" content="Dashboard page. Page d'administratin.">
{% endblock %}

{% block content %}

    <section class="hero is-warning is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title has-text-weight-bold">
                    HOME (DASHBOARD)
                </h1>
            </div>
        </div>
    </section>

    {% if is_granted('ROLE_USER') %}


    <section class="section">

        <div class="container">

            <div class="columns is-centered">
                {% include 'includes/flash_message.html.twig' %}
            </div>


            <h1 class="title">Espace d'aministration</h1>
            <h2 class="subtitle">
                Vous êtes connecté {{ app.user.email }}
            </h2>
            <a class="button is-warning has-text-weight-bold" href="{{ path('easyadmin') }}">Ajouter un beat</a>
        </div>

        <div class="container">

            {% include('includes/tableau_beat.html.twig') %}

        </div>
    </section>

    {% else %}

        <section class="hero is-large">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Vous n'êtes pas éligible à cette page
                    </h1>
                    <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                </div>
            </div>
        </section>

    {% endif %}


{% endblock %}
