{% extends 'base_admin.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Admin{% endblock %}

{% block content %}

    <section class="hero is-link is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    HOME (DASHBOARD)
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Espace d'aministration</h1>
            <h2 class="subtitle">
                Vous êtes connecté {{ app.user.email }}
            </h2>
            <a class="button" href="{{ path('admin_app_logout') }}">Se deconnecter</a>
        </div>
    </section>


{% endblock %}
