{% extends 'base_admin.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Admin{% endblock %}

{% block content %}

    <section class="hero is-link is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    GESTION VIDEOS
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">A propos de Vinny Vixi</h1>
            <h2 class="subtitle">
                Ce que vous devez savoir sur l'artiste <strong class="has-text-link">Vinny Vixi</strong>
            </h2>
        </div>
    </section>


{% endblock %}
