{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Login{% endblock %}

{% block titre %}
    Log in
{% endblock %}

{% block content %}

        <div class="container column is-full-touch is-two-fifths-desktop">
            <form method="post">

                {% include 'includes/flash_message.html.twig' %}


                {% if error %}
                    <div class="form-error notification is-danger">
                        <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="field">

                    <div class="column has-text-weight-bold has-text-centered">
                        <label class="" for="">Veuillez entrer vos identifiants administrateur</label>
                    </div>

                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required>
                        <span class="icon is-small is-left" style="z-index: 0;">
                          <i class="fas fa-envelope"></i>
                        </span>
                    </p>

                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password" id="inputPassword" placeholder="Password" required>
                        <span class="icon is-small is-left" style="z-index: 0;">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field is-flex" style="justify-content: center;">
                    <p class="control">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="button is-info">
                            Log in
                        </button>
                    </p>
                </div>

            </form>
        </div>


{% endblock %}



