{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block description %}
    <meta name="description" content="Accès réservé aux administrateurs du site vinnyvixi.com, Access reserved for administrators of the vinnyvixi.com website">
{% endblock %}


{% block titre_landscape %}
    Log in
{% endblock %}

{% block titre %}
    Log in
{% endblock %}

{% block entete %}
    <h2 class="subtitle has-text-centered is-4 is-family-primary has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(0,0,0,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        Accéder au back office du site
    </h2>
{% endblock %}

{% block content %}

        <div class="container column is-full-touch is-two-fifths-desktop">
            <form method="post">

                {% include 'includes/flash_message.html.twig' %}


                {% if error %}
                    <div class="form-error notification is-danger">
                        <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="field">

                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required>
                        <span class="icon is-small is-left" style="z-index: 0;">
                          <i class="fas fa-envelope"></i>
                        </span>
                    </p>

                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password" id="inputPassword" placeholder="Password" required>
                        <span class="icon is-small is-left" style="z-index: 0;">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field is-flex" style="justify-content: space-between;">

                    <a href="{{ path('lost_password') }}" class="button is-info is-small">
                        <i class="fas fa-key"></i>&nbsp;
                        Changer mon mot de passe
                    </a>

                    <p class="control">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="button is-small is-info">
                            Log in
                        </button>
                    </p>
                </div>

            </form>
        </div>


{% endblock %}



