{% extends 'base.html.twig' %}

{% block title %}{% trans %}Password recovery{% trans %}{% endblock %}

{% block description %}
    <meta name="description" content="Accès réservé aux administrateurs du site vinnyvixi.com, Access reserved for administrators of the vinnyvixi.com website">
{% endblock %}


{% block titre_landscape %}
    {% trans %}Password{% endtrans %}
{% endblock %}

{% block titre %}
    {% trans %}Password{% endtrans %}
{% endblock %}

{% block content %}

    <div class="container column is-full-touch is-two-fifths-desktop">
        <form method="post">

            <div class="field has-text-centered">
                <h1 class="is-size-2-touch">{% trans %}Please enter your Email{% endtrans %}</h1>
            </div>

            {% include 'includes/flash_message.html.twig' %}


            {% if form_errors(lost_password_form) != null %}
                <div class="form-error notification is-danger is-size-3-touch">
                    <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                    {{ form_errors(lost_password_form) }}
                </div>
            {% endif %}

            {{ form_start(lost_password_form) }}




            <div class="field">

                <div class="control">
                    {{ form_row(lost_password_form.email, {'attr' : {'class' : 'input is-size-3-touch', 'placeholder' : 'ex : admin@mail.com' , 'alt' : 'email'}
                    }) }}
                </div>

            </div>

            {% include 'includes/flash_message.html.twig' %}


            <div class="is-flex justify-content-center align-items-center">
                <button type="submit" class="button is-info is-center is-size-3-touch">
                    {% trans %}Send a password recovery mail{% endtrans %}
                </button>
            </div>


            {{ form_end(lost_password_form) }}

        </form>
    </div>


{% endblock %}



