<div id="carouselExampleIndicators" class="carousel slide is-hidden-mobile" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner is-size-3 is-size-5-touch">

        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('build/images/BMSTARS.52ea32d7.jpg') }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.7)">
                <h5 class="is-size-2">Vinny Vixi .Prods</h5>
                <p>Producteur de Beats type Drills, Hip-Hop, Rap FR, Rap US</p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/CDC2.8b97b70f.jpg') }}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.7)">
                <h5 class="is-size-2">Evry-Courcouronnes</h5>
                <p>Originaire d'Evry en Essonne, région de rappeurs actuels comme Niska, Koba laD, PnL, ou encore...
                    Vous reconnaitrez la signature des vrais son Drills Français sortie tout droit des quartiers</p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/BM.09ac0c25.jpg') }}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.7)">
                <h5 class="is-size-2">Collabs</h5>
                <p>Plusieur projets déjà réalisé pour des rappeurs comme Alkapote ou Falcone
                    Certains projets déjà réalisés en studio pour une qualité profesionnel</p>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/BMSTARS.52ea32d7.jpg') }}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,0.7)">
                <h5 class="is-size-2">Inspirations & Influences</h5>
                <p >Vous retrouverez des sons inspiré par les plus grands beatmakers
                    comme Lex luger, Young Chop, Metro Bomin ou encore Deedotwill</p>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>




