<section class="box is-large is-bold" style="height: 100%;">
    <h2 class="subtitle is-2 has-text-weight-bold has-text-centered has-text-link has-background-black-bis" style="display: flex;justify-content: center;align-items: center;height: 100%;">
        Comming soon...
    </h2>
    </div>
</section>