<div class="block-donation is-flex-desktop justify-content-center align-items-center flex-column" style="margin-bottom: 5rem;box-shadow: rgb(0, 0, 0) 0px 0px 15px;background: rgba(0,0,0,1);position: relative">

    <div class="" style=";opacity: 0.5;background: 50% 50% / cover no-repeat url('{{ asset('build/images/donation_bg.ad047337.svg')}}');position: absolute;width: 100%;height: 100%">

    </div>

    <h3 class="has-text-centered is-4 is-family-primary has-text-black has-background-black has-text-link" style="position: relative;padding: 10px;width: 100%">
        Support my works
    </h3>

    <div class="column is-3-desktop" style="display:flex;align-items: center;justify-content: center">

        <a id="buttonDonation" class="button is-large is-fullwidth is-black" style="" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Yoobsound%40gmail.com&currency_code=EUR&source=url" >
            <p class="has-text-centered" style="margin: 0;">Donation</p>
            <span class="icon is-normal">
                        <i class="fab fa-paypal fa-lg">

                        </i>
                </span>
        </a>

    </div>

</div>