<div id="player" class="has-background-light" style="align-items: center;position:relative;z-index: 2">

    <div class="btn-left" style="display: flex;justify-content: space-between;align-items: center;">

        <div class="" style="white-space: nowrap">
            <button type="button" class="btn-primary is-size-4 is-size-5-touch stopBtn">
                <i class="fas fa-stop" title="{% trans %}Stop{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 is-size-5-touch playBtn">
                <i id="playIcon" class="fas fa-play" title="{% trans %}Play{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 is-size-5-touch loopBtn">
                <i id="loopIcon" class="fas fa-sync-alt" title="{% trans %}Loop{% endtrans %}"></i>
            </button>

        </div>

        <div class="">
            <button type="button" class="btn-primary is-size-4 is-size-5-touch prevBtn">
                <i class="fas fa-step-backward" title="{% trans %}Previous beat{% endtrans %}" ></i>
            </button>
        </div>

    </div>

    <div class="has-text-centered block-timeline">

            <div id="track-title" class="has-text-weight-bold" style="z-index: 1">{% trans %}Track{% endtrans %}</div>

            <div id="timeLine">
                <div id="cursor" class="is-hidden"></div>
                <div id="currentTime"></div>
            </div>

    </div>


    <div class="btn-right" style="display: flex;justify-content: space-between;align-items: center;">
            <button type="button" class="btn-primary is-size-4 is-size-5-touch nextBtn">
                <i class="fas fa-step-forward" title="{% trans %}Next beat{% endtrans %}"></i>
            </button>

                <div class="is-hidden-touch" style="display: flex;justify-content: space-evenly;align-items: center;width: 30%">
                    <div id="current-time">--</div>
                    <div> / </div>
                    <div id="track-time">--</div>
                </div>
            <button type="button" id="cross-hide-player" class="btn-primary is-size-4 is-size-5-touch">
                <i class="fas fa-times-circle" title="{% trans %}Hide player{% endtrans %}"></i>
            </button>

    </div>

</div>





