<div id="player" class="has-background-light" style="">

    <div class="btn-left">

        <button type="button" id="cross-hide-player" class="btn-primary is-size-4">
            <i class="fas fa-times-circle" title="{% trans %}Hide player{% endtrans %}"></i>
        </button>

        <div class="" style="white-space: nowrap">

            <button type="button" class="btn-primary is-size-4 stopBtn">
                <i class="fas fa-stop" title="{% trans %}Stop{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 playBtn">
                <i id="playIcon" class="fas fa-play" title="{% trans %}Play{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 prevBtn">
                <i class="fas fa-step-backward" title="{% trans %}Previous beat{% endtrans %}" ></i>
            </button>

            <button type="button" class="btn-primary is-size-4 loopBtn">
                <i id="loopIcon" class="fas fa-sync-alt" title="{% trans %}Loop{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 nextBtn">
                <i class="fas fa-step-forward" title="{% trans %}Next beat{% endtrans %}"></i>
            </button>

        </div>

    </div>

    <div class="has-text-centered block-timeline is-hidden-touch">

            <div id="track-title" class="has-text-weight-bold is-size-7-touch">{% trans %}Track{% endtrans %}</div>

            <div id="timeLine">
                <div id="cursor" class="is-hidden"></div>
                <div id="currentTime"></div>
            </div>

    </div>


    <div class="btn-right is-hidden-mobile">
        <div style="display: flex;justify-content: space-evenly;align-items: center;width: 30%">
            <div id="current-time">--</div>
            <div> / </div>
            <div id="track-time">--</div>
        </div>
    </div>

</div>





