<section id="player_old" class="columns is-hidden-touch">

{#    <figure>#}
{#        <img src="#" alt="illustration beats">#}
{#    </figure>#}

    <div class="btn-left column is-2" style="display: flex;justify-content: space-between;align-items: center">

        {% if is_granted('ROLE_USER') %}
        <div class="" style="white-space: nowrap">
            <button type="button" class="btn-primary is-size-4" style="background: rgba(0,0,0,0);box-shadow: none;border: none">
                <i class="fas fa-stop" title="Stop" style="color: black;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>
            </button>

            <button type="button" class="btn-primary is-size-4" style="background: rgba(0,0,0,0);box-shadow: none;border: none">
                <i class="fas fa-play" title="Play" style="color: black;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>
            </button>
        </div>

        <div class="">
            <button type="button" class="btn-primary is-size-4" style="background: rgba(0,0,0,0);box-shadow: none;border: none">
                <i class="fas fa-step-backward" title="Previous beat" style="color: black;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>
            </button>
        </div>
        {% endif %}

    </div>

    <div class="player-timeline column">

        <div id="trackMin">

            <p class="is-size-4-touch" id="track-title">Track</p>

            <div id="timeLine" style="position: relative;">
                <div id="cursor"></div>
                <div id="currentTime" class="bg-info" style="position:absolute;top: 0;z-index: -1;"></div>
            </div>

        </div>

    </div>

    <div class="btn-right column is-2" style="display: flex;{% if is_granted('ROLE_USER') %}justify-content: space-between;{% else %}justify-content: end;{% endif %}align-items: center">
        {% if is_granted('ROLE_USER') %}
            <button type="button" class="btn-primary is-size-4" style="background: rgba(0,0,0,0);box-shadow: none;border: none">
                <i class="fas fa-step-forward" title="Next beat" style="color: black;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>
            </button>

                <div style="display: flex;justify-content: space-evenly;align-items: center;width: 30%">
                    <div id="current-time">--</div>
                    :
                    <div id="track-time">--</div>
                </div>
        {% endif %}
            <button type="button" id="cross-hide-player" class="btn-primary is-size-4" style="background: rgba(0,0,0,0);box-shadow: none;border: none">
                <i class="fas fa-times-circle" title="Hide player" style="color: black;text-shadow: rgb(0, 63, 255) 0px 0px 10px;"></i>
            </button>

    </div>

</section>





