<div id="player" class="has-background-light" style="">

    <div class="btn-left">

        <button type="button" id="cross-hide-player" class="btn-primary is-size-4">
            <i class="fas fa-times-circle" title="{% trans %}Hide player{% endtrans %}"></i>
        </button>

        <div class="" style="white-space: nowrap">

            <button type="button" class="btn-primary is-size-4 loopBtn">
                <i id="loopIcon" class="fas fa-sync-alt" title="{% trans %}Loop{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 prevBtn">
                <i class="fas fa-step-backward" title="{% trans %}Previous beat{% endtrans %}" ></i>
            </button>

            <button type="button" class="btn-primary is-size-4 stopBtn">
                <i class="fas fa-stop" title="{% trans %}Stop{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 playBtn">
                <i id="playIcon" class="fas fa-play" title="{% trans %}Play{% endtrans %}"></i>
            </button>

            <button type="button" class="btn-primary is-size-4 nextBtn">
                <i class="fas fa-step-forward" title="{% trans %}Next beat{% endtrans %}"></i>
            </button>

        </div>

    </div>

    <div class="has-text-centered block-timeline is-hidden-touch">

            <div class="has-text-weight-bold is-size-7-touch track-title">{% trans %}Track{% endtrans %}</div>

            <div class="timeLine">
{#                <div id="cursor"></div>#}
                <div class="bar-current-time"></div>
            </div>

    </div>


    <div class="btn-right">
        <div class="beat-time-display">
            <div class="current-time">--</div>
            <div> / </div>
            <div class="track-time">--</div>
        </div>
    </div>

    <div class="has-text-centered block-timeline-mobile is-hidden-desktop">
        <div class="timeLine">
            <div class="bar-current-time"></div>
        </div>
    </div>

    <div class="has-text-white is-size-7-touch is-hidden-desktop track-title track-title-mobile has-background-black-bis is-italic">
        {% trans %}No title{% endtrans %}
    </div>

</div>




