<div class="columns is-multiline">


                <a target="_blank" href="https://www.twitter.com/VinnyVixi" class="has-text-link column is-flex flex-column justify-content-center align-items-center is-flex flex-column justify-content-center align-items-center">
                    <span class="icon">
                        <i  class="fab fa-2x fa-twitter"></i>
                    </span>Twitter
                </a>



                <a  target="_blank"href="https://www.instagram.com/vinnyvixi" class="has-text-link column is-flex flex-column justify-content-center align-items-center">
                    <span class="icon">
                        <i  class="fab fa-2x fa-instagram"></i>
                    </span>Instagram
                </a>



                <a  target="_blank"href="https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ" class="has-text-link column is-flex flex-column justify-content-center align-items-center">
                    <span class="icon">
                        <i  class="fab fa-2x fa-youtube"></i>
                    </span>Youtube
                </a>



                <a  target="_blank"href="https://www.soundcloud.com/vinnyvixi" class="has-text-link column is-flex flex-column justify-content-center align-items-center">
                    <span class="icon">
                        <i  class="fab fa-2x fa-soundcloud"></i>
                    </span>Soundcloud
                </a>




                <a  target="_blank"href="https://www.beatstars.com/vinnyvixi/feed" class="has-text-link column is-flex flex-column justify-content-center align-items-center">
                    <span>
                        {#<i  class="fas fa-star"></i>#}
                        <img width="35" src="{{ asset('build/images/beatstars-logo-b.5cbb6d76.png') }}" alt="beatstars">
                    </span>Beatstars
                </a>


</div>