
    <div class="columns is-flex align-items-center has-background-black-bis" style="margin: 0;">
        <label class="is-flex align-items-center" for="" style="margin: auto 0;">
            <div class="column">
                <strong class="has-text-white is-size-4 is-size-3-touch">Genres :</strong>
            </div>
        </label>

        <div id="myBtnContainer" class="buttons are-small column is-flex" style="margin: auto 0;">

                <div class="column is-flex align-items-center justify-content-center">
                    <button class="button is-small active is-light is-outlined is-family-sans-serif font-weight-bold is-size-4-touch" style="margin: auto 0;padding: 2px auto;" type="submit" onclick="filterSelection('all')"> All</button>
                </div>

            {% for filtre in filtre %}

                <div class="column is-flex align-items-center justify-content-center">

                    <button class="button is-small is-light is-outlined is-family-sans-serif font-weight-bold is-size-4-touch" value="{{ filtre.genre }}" style="margin: auto 0;padding: 2px auto;" type="submit"  onclick="filterSelection('{{ filtre.genre }}')">
                        {{ filtre.genre }}
                    </button>

                </div>

            {% endfor %}

        </div>

    </div>

    <div class="column">
        <div class="column has-text-centered box" style="background: rgba(23,162,176,0.7)">

            {% include 'includes/info_beat.html.twig' with {beat: beat} %}

        </div>

        <div class="column has-text-centered box" style="background: rgba(220,53,69,0.7)">

            {% include 'includes/iframe.html.twig' with {beat: beat} %}

        </div>
    </div>



