{#<h2 class="title is-3 has-text-centered">Liste des Beats : </h2>#}

<section class="section">

    <div class="column has-text-centered box" style="background: rgba(23,162,176,0.7)">

        {% include 'includes/info_beat.html.twig' with {beat: beat} %}

    </div>

    <div class="column has-text-centered box" style="background: rgba(220,53,69,0.7)">

        {% include 'includes/iframe.html.twig' with {beat: beat} %}

    </div>

</section>
