<h2 class="title is-3 has-text-centered">Liste des Beats : </h2>

<section class="section">
    <div class="column">
        {% include 'includes/info_beat.html.twig' with {beat: beat} %}
    </div>
</section>
