{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block description %}
    <meta name="description" content="Confidentiality (EN). Confidantialité (FR)">
{% endblock %}

{% block titre_landscape %}
    Privacy Policy
{% endblock %}

{% block titre %}
    Privacy Policy
{% endblock %}

{% block content %}

    <div class="box" style="padding: 50px;background: rgba(255,255,255,.8)">
    {{ include('politique_confidentialite/politique_confidantialite_eng.html.twig') }}
    </div>

{% endblock %}
