{% extends 'base.html.twig' %}

{% block title %}{% trans %}Privacy Policy{% endtrans %}{% endblock %}

{% block description %}
    <meta name="description" content="Confidentiality (EN). Confidantialité (FR)">
{% endblock %}

{% block titre_landscape %}
    <div class="has-text-weight-bold is-uppercase is-family-monospace is-size-7-touch" style="height: 100%;display: flex;justify-content: center;align-items: center;text-align: center;line-height: normal;">
        {% trans %}Privacy Policy{% endtrans %}
    </div>
{% endblock %}

{% block titre %}
    {% trans %}Privacy Policy{% endtrans %}
{% endblock %}

{% block content %}

    <div class="box" style="padding: 50px;background: rgba(255,255,255,.8)">

            {% if app.request.locale == 'fr' %}
                {{ include('politique_confidentialite/politique_confidentialite_fr.html.twig') }}
            {% elseif app.request.locale == 'en' %}
                {{ include('politique_confidentialite/politique_confidantialite_eng.html.twig') }}
            {% endif %}

    </div>

{% endblock %}
