
//$navbar-height : 5 rem;
//$footer-background-color : ;

$primary : #1f2041;
$link : #bccce0;
$danger : #a44a3f;
$link-hover: #30aae4;
$strong-color : #cdcdcd;
$text : black;
$navbar-burger-color : #66cde4;
$navbar-item-color : #66cde4;
$navbar-item-hover-color: black;
$navbar-item-hover-background-color: #bccce0;
$title-size : 2.5rem;
$family-primary : 'Handlee', cursive;
//$family-secondary:'Rubik Mono One', sans-serif;
$family-secondary:'Days One', sans-serif;
$family-code :'Khand', sans-serif;
$family-monospace : 'Permanent Marker', cursive;
$footer-padding: 1rem 1.5rem 0rem;

// Importer Bulma
@import "~bulma";
@import '~bulma-extensions';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

*
{
  font-family: $family-code;
  //font-size: 1.5rem;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

.nav-item, .nav-link
{
  //font-weight: bold;
  transition: 0.5s;
  border-radius: 2px;
}
.nav-link:hover
{
  background: $link;
  color: black !important;
}

#dashboard
{
  color: $warning;
  border-radius: 2px;
}
#dashboard:hover
{
  background: $warning;
  color: $dark;
}

#deco
{
  color: $danger;
  border-radius: 2px;
}
#deco:hover
{
  background: $danger;
  color: $dark;
}

.button{
  border-radius: 5px;
  transition : 0.5s;
}

.open-modal
{
  transition: 0.2s;
}

.open-modal:hover
{
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}

a
{
 text-decoration: none !important;
}

.pricing-plan:hover
{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

.textarea
{
  resize: none;
}






//    ICON BURGER BOOSTRAP   //
/* Icon 3 */



#nav-icon3 span:nth-child(1) {
  top: 10px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 20px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 20%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 20%;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  //position: relative;
  //margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 60%;
  background: #999c9f;
  border-radius: 9px;
  opacity: 1;
  //left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

//   FIN CSS ICON BURGER BOOSTRAP   //



// COOKIE //

#cookies_alert {
  bottom: 0px;
  height: auto;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 998;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#cookies_alert.hide{
  display: none;
}

#cookies_alert.closed {
  bottom: -120px;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#cookies_alert .cookies_container {
  background-color: rgba(0,0,0,0.85);
  padding: 15px;
  padding-right: 35px;
  position: relative;
}

//#cookies_alert .cookies_close {
//  flex: 1;
//}

#cookies_alert .cookies_close:hover {
  cursor: pointer;
}

#cookies_alert .cookies_text {
  color: #FFF;
  font-size: 0.8em;
}

#cookies_alert .cookies_text a { color: #EA504E; }

#cookies_alert .cookies_text a:hover { text-decoration: underline; }

// FIN COOKIE //

.container {
  overflow: hidden;
}

.filterDiv {
  display: none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.button.active {
  background-color: $danger;
  color: white;
}




//   POUR AUDIO WAVE
#thefile {
  //position: absolute;
  //top: 10px;
  //left: 10px;
  z-index: 100;
}

#canvas {
  width: 100%;
  height: 100%
}

//audio
//{
//  position: fixed;
//  left: 10px;
//  bottom: 10px;
//  width: calc(100% - 20px);
//}
//    FIN AUDIO WAVE





