<div class="container" id="app">
    <div class="lign is-active" style="transition: .5s;height: 0;">
        <div class="video-lightbox-background"></div>
        <div class="video-lightbox-modal-content" style="border-radius: 0px;background: none;display: flex;justify-content: center;align-items: center;">

        </div>
        <button class="video-lightbox-modal-close is-large" style="position: absolute"></button>
    </div>
</div>