<h1>Réinitialisation de votre mot de passe</h1>

<p>
    Bonjour,<br>
    Une demande de réinitialisation de mot de passe de votre compte administrateur du site vinnyvixi.com à été effectué.<br>
    Pour procéder, veuillez cliquer sur lien suivant:
    <a href="{{ url('reset_password', {id: admin.id, token: admin.securityToken}) }}">
        {{ url('reset_password', {id: admin.id, token: admin.securityToken}) }}
    </a>
</p>