<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://cdn.plyr.io/3.5.10/plyr.polyfilled.js"></script>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css" />

        {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Caveat|Handlee|Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
        {% endblock %}

        {% block css %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body class="has-background-white-bis">
        {% block body %}

            {% block header %}
                {% if is_granted('ROLE_USER') %}

                        {% include('includes/header/admin_header.html.twig') %}

                {% else %}

                        {% include('includes/header/header.html.twig') %}

                {% endif %}
            {% endblock %}


            <div style="min-height: 80vh;background:center no-repeat url('{{ asset('build/images/headphones.64ab74be.jpg')}}')">
                <div class="layer" style="height: 100%;width: 100%; background: rgba(255,255,255,0.7)">

                    <section class="hero is-link is-small is-bold" style="background:center url('{{ asset('build/images/sound_2-2.25d7a5b3.jpg') }}')">
                        <div class="hero-body has-text-centered">
                            <div class="container">
                            </div>
                        </div>
                    </section>

                    <section class="hero bg-dark is-small is-bold">
                        <div class="hero-body has-text-centered">
                            <div class="container">
                                <h1 class="title has-text-weight-bold text-white is-uppercase">
                                    {% block titre %}

                                    {% endblock %}
                                </h1>
                            </div>
                        </div>
                    </section>

                    {% block content %}

                    {% endblock %}
                </div>
            </div>


            {% block footer %}
                {% include('includes/footer/footer.html.twig') %}
            {% endblock %}

        {% endblock %}



        {% block javascripts %}

            {#     POUR BOOSTRAP     #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



            <script src="/node_modules/bulma-extensions/bulma-calendar/dist/js/bulma-calendar.min.js"></script>

            <script>


                {#        SCRIPT POUR VERIF NOMBRE DANS FORMULAIRE          #}
                function verif_nombre(champ)
                {
                    var chiffres = new RegExp("[0-9]");
                    var verif;
                    var points = 0;

                    for(x = 0; x < champ.value.length; x++)
                    {
                        verif = chiffres.test(champ.value.charAt(x));
                        if(champ.value.charAt(x) == "."){points++;}
                        if(points > 1){verif = false; points = 1;}
                        if(verif == false){champ.value = champ.value.substr(0,x) + champ.value.substr(x+1,champ.value.length-x+1); x--;}
                    }
                }

                function verif_nombre_max(champ, max){

                    let x = champ.value;
                    let xsub = x.toString().substr(0,max);
                    champ.value = xsub;

                }
                {#        FIN DE SCRIPT         #}


            </script>

{#             PLYR JS#}
{#            <script src="path/to/plyr.js"></script>#}
{#            <script> const players = Plyr.setup('.js-player');</script>#}
{#             END PLYR JS#}


            {#  AUTO PAUSE MUSIC  #}
            <script>
                document.addEventListener('play', function(e){
                    var audios = document.getElementsByTagName('audio');
                    for(var i = 0, len = audios.length; i < len;i++){
                        if(audios[i] != e.target){
                            audios[i].pause();
                        }
                    }
                }, true);
            </script>
            {#        FIN DE SCRIPT         #}

            <script>
                $(document).ready(function(){
                    $('#nav-icon3').click(function(){
                        $(this).toggleClass('open');
                    });
                });
            </script>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("audio").on("contextmenu",function(e){
                        return false;
                    });
                });
            </script>


        {% endblock %}
    </body>
</html>
