<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://cdn.plyr.io/3.5.10/plyr.polyfilled.js"></script>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css" />

        {% block css %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body class="has-background-white-bis">
        {% block body %}

            {% block header %}
                {% if is_granted('ROLE_USER') %}

                        {% include('includes/header/admin_header.html.twig') %}

                {% else %}

                        {% include('includes/header/header.html.twig') %}

                {% endif %}
            {% endblock %}

            <div style="min-height: 80vh">
                {% block content %}
                {% endblock %}
            </div>


            {% block footer %}
                {% include('includes/footer/footer.html.twig') %}
            {% endblock %}

        {% endblock %}



        {% block javascripts %}

            {#     POUR BOOSTRAP     #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



            <script src="/node_modules/bulma-extensions/bulma-calendar/dist/js/bulma-calendar.min.js"></script>

{#            <script src="/node_modules/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.min.js"></script>#}

{#            <script>#}
{#                // Initialize all div with carousel class#}
{#                var carousels = bulmaCarousel.attach('.carousel', options);#}


{#                // Loop on each carousel initialized#}
{#                for(var i = 0; i < carousels.length; i++) {#}
{#                    // Add listener to  event#}
{#                    carousels[i].on('before:show', state => {#}
{#                        console.log(state);#}
{#                    });#}
{#                }#}

{#                // Access to bulmaCarousel instance of an element#}
{#                var element = document.querySelector('#my-element');#}
{#                if (element && element.bulmaCarousel) {#}
{#                    // bulmaCarousel instance is available as element.bulmaCarousel#}
{#                    element.bulmaCarousel.on('before-show', function(state) {#}
{#                        console.log(state);#}
{#                    });#}
{#                }#}
{#            </script>#}

            <script>


                {#        SCRIPT POUR VERIF NOMBRE DANS FORMULAIRE          #}
                function verif_nombre(champ)
                {
                    var chiffres = new RegExp("[0-9]");
                    var verif;
                    var points = 0;

                    for(x = 0; x < champ.value.length; x++)
                    {
                        verif = chiffres.test(champ.value.charAt(x));
                        if(champ.value.charAt(x) == "."){points++;}
                        if(points > 1){verif = false; points = 1;}
                        if(verif == false){champ.value = champ.value.substr(0,x) + champ.value.substr(x+1,champ.value.length-x+1); x--;}
                    }
                }

                function verif_nombre_max(champ, max){

                    let x = champ.value;
                    let xsub = x.toString().substr(0,max);
                    champ.value = xsub;

                }
                {#        FIN DE SCRIPT         #}





                {#     SCRIPT POUR POPUP       #}
                document.querySelector('#open-modal').addEventListener('click', function(event) {
                    event.preventDefault();
                    var modal = document.querySelector('.modal');  // assuming you have only 1
                    var html = document.querySelector('html');
                    modal.classList.add('is-active');
                    html.classList.add('is-clipped');

                    modal.querySelector('.modal-background').addEventListener('click', function(e) {
                        e.preventDefault();
                        modal.classList.remove('is-active');
                        html.classList.remove('is-clipped');
                    });

                    modal.querySelector('.modal-close').addEventListener('click', function(e) {
                        e.preventDefault();
                        modal.classList.remove('is-active');
                        html.classList.remove('is-clipped');
                    });

                    modal.querySelector('.close-popup').addEventListener('click', function(e) {
                        e.preventDefault();
                        modal.classList.remove('is-active');
                        html.classList.remove('is-clipped');
                    });
                });
                {#        FIN DE SCRIPT         #}

            </script>

            {# PLYR JS #}
            <script src="path/to/plyr.js"></script>
            <script>
                const players = Plyr.setup('.js-player');
            </script>
            {# END PLYR JS #}



        {% endblock %}
    </body>
</html>
