{% extends 'base.html.twig' %}

{% block header %}
    {% include('includes/header/admin_header.html.twig') %}
{% endblock %}

{% block content %}
    <section class="hero is-link is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    Vinny Vixi Prod.
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Accueil</h1>
            <h2 class="subtitle">
                Bienvenur sur le site du Beatmaker <strong class="has-text-link">Vinny Vixi</strong>
            </h2>
        </div>
    </section>
{% endblock %}