{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Accueil{% endblock %}

{% block titre %}
    Vinny Vixi Prod.
{% endblock %}

{% block content %}

    <section class="section" style="min-height: 80vh">
        <div class="container">
            <h1 class="title">Accueil</h1>
            <h2 class="subtitle">
                Bienvenur sur le site du Beatmaker <strong class="has-text-link">Vinny Vixi</strong>
            </h2>
        </div>
    </section>


{% endblock %}
