{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

    BIENVENUE HOME CONTROLLER

{#    <div class="column">#}
{#        <button class="button is-danger" id="open-modal" style="width: 100%;">Modalitées</button>#}
{#    </div>#}

{#    <div class="modal">#}
{#        <div class="modal-background"></div>#}
{#        <div class="modal-card">#}

{#            <header class="modal-card-head has-background-warning">#}
{#                <p class="modal-card-title">Attention</p>#}
{#            </header>#}

{#            <section class="modal-card-body">#}
{#                L'annonce : <strong> Annonce </strong> est actuellement <div class="tag is-success">publiée</div> . <br>#}
{#                Souhaitez vous tout de même la supprimer définitivement? <br>#}
{#                <i>(Cette annonce ne sera donc plus consultable)</i>#}
{#            </section>#}

{#            <footer class="modal-card-foot" style="justify-content: space-between;">#}
{#                <button class="button close-popup">Annuler</button>#}
{#                <button class="button is-success">Confirmer</button>#}
{#            </footer>#}

{#        </div>#}
{#        <button class="modal-close is-large" aria-label="close"></button>#}
{#    </div>#}


{% endblock %}
