<footer class="footer has-background-black-bis has-text-white is-size-4-touch" style="position: relative;bottom:0 ;width: 100%;">

    <div class="content has-text-centered columns">

        <div class="column footer-grid">

            <span class="footer-column-left">
                <a target="_blank" href="https://www.twitter.com/VinnyVixi" class="has-text-link">
                    <span class="icon">
                        <i  class="fab fa-twitter"></i>
                    </span>Twitter
                </a>
            </span>

            <span class="footer-column-left">
                <a  target="_blank"href="https://www.instagram.com/vinnyvixi" class="has-text-link">
                    <span class="icon">
                        <i  class="fab fa-instagram"></i>
                    </span>Instagram
                </a>
            </span>

            <span class="footer-column-left">
                <a  target="_blank"href="https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ" class="has-text-link">
                    <span class="icon">
                        <i  class="fab fa-youtube"></i>
                    </span>Youtube
                </a>
            </span>

            <span class="footer-column-left">
                <a  target="_blank"href="https://www.soundcloud.com/vinnyvixi" class="has-text-link">
                    <span class="icon">
                        <i  class="fab fa-soundcloud"></i>
                    </span>Soundcloud
                </a>
            </span>

            <span class="footer-column-left">
                <a  target="_blank"href="https://www.beatstars.com/vinnyvixi/feed" class="has-text-link">
                    <span class="icon">
                        <i  class="fas fa-star"></i>
                    </span>Beatstars
                </a>
            </span>

        </div>

        <div class="column footer-grid">

            <span class="footer-column-right">
                <a href="{{ path('mentions-legales') }}" class="has-text-link" style="margin: auto;padding: 0 5px">
                    Mentions légales
{#                    Legal Notice#}
                </a>
            </span>

            <span class="footer-clumn-right">
                <a href="{{ path('politique-confidentialite') }}" class="has-text-link" style="margin: auto;padding: 0 5px">
                    Politique de confidentialité
{#                    privacy policy#}
                </a>
            </span>

        </div>



    </div>

    <hr style="background: rgba(255,255,255,0.3);height: 1px;width: 100%;margin:auto;">

    <div class="column has-text-centered ">
        <span class="text-dark">
{#            © 2020 | www.vinnyvixi.com [ALPHA] | Propriété du producteur Vinivixy, Tout droits réservés.#}
            © 2020 | www.vinnyvixi.com [ALPHA] | Property of the producer Vinivixy, All rights reserved.
        </span>
    </div>


{#
    https://www.beatstars.com/vinnyvixi/feed
    https://www.twitter.com/VinnyVixi
    https://www.youtube.com/channel/UC2aIv87FmBdtEJcj3DVYryQ
    https://www.instagram.com/vinnyvixi
    https://www.soundcloud.com/vinnyvixi
 #}

</footer>
