{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Beats{% endblock %}

{% block content %}


    <section class="hero is-link is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    Beats
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="subtitle">
                Section <strong class="has-text-link">Beats</strong>
            </h2>

            <article>
                <h3>H3 Article</h3>
                {% for beat in beat %}
                {{ beat.titre }}
                {% endfor %}
            </article>

        </div>
    </section>


{% endblock %}
