{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Beats{% endblock %}

{% block content %}


    <section class="hero is-link is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title has-text-weight-bold">
                    Beats
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <article>
                {% include('includes/tableau_beat.html.twig') %}
            </article>

        </div>
    </section>


{% endblock %}
