{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Beats{% endblock %}

{% block titre %}
Beats
{% endblock %}

{% block audiocontrol %}
    {% if is_granted('ROLE_USER') %}
        {#                            <audio style="box-shadow: black 0 0 20px 1px;background:#121212;width: 100%;height: 25px" id="audio" controls></audio>#}
        {% block player %}
            {% include 'includes/player.html.twig' %}
        {% endblock %}
    {% else %}
        <div style="box-shadow: black 0 0 20px 1px;background: #121212;width: 100%;height: 5px;">

        </div>
    {% endif %}
{% endblock %}

{% block filtre %}
    <div class="columns is-flex align-items-center has-background-black-bis" style="margin: 0;position: relative">
        <label class="is-flex align-items-center" for="" style="margin: auto 0;">
            <div class="column">
                <strong class="has-text-white is-size-4 is-size-3-touch">Genres :</strong>
            </div>
        </label>

        <div id="myBtnContainer" class="buttons are-small column is-flex" style="margin: auto 0;">

            <div class="column is-flex align-items-center justify-content-center">
                <button class="button is-small active is-danger is-outlined is-family-sans-serif font-weight-bold is-size-5-touch" style="margin: auto 0;padding: 2px auto;" type="submit" onclick="filterSelection('all')"> All</button>
            </div>

            {% for filtre in filtre %}

                <div class="column is-flex align-items-center justify-content-center">

                    <button class="button is-small is-danger is-outlined is-family-sans-serif font-weight-bold is-size-5-touch" value="{{ filtre.genre }}" style="margin: auto 0;padding: 2px auto;" type="submit"  onclick="filterSelection('{{ filtre.genre }}')">
                        {{ filtre.genre }}
                    </button>

                </div>

            {% endfor %}

        </div>

    </div>
{% endblock %}

{% block content %}

                {% include('includes/tableau_beat.html.twig') %}

{% endblock %}

