{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Beats{% endblock %}

{% block titre %}
Beats
{% endblock %}

{% block content %}




    <section class="section" style="min-height: 80vh">
        <div class="container">

{#            <article>#}
                {% include('includes/tableau_beat.html.twig') %}
{#            </article>#}

        </div>
    </section>


{% endblock %}
