{% extends 'base.html.twig' %}

{% block description %}
    <meta name="description" content="Legal Notice (EN). Mentions légales (FR)">
{% endblock %}

{% block title %}{% trans %}Disclamer{% endtrans %}{% endblock %}

{% block titre_landscape %}
    <div class="has-text-weight-bold is-uppercase is-family-monospace">
        {% trans %}Disclaimer{% endtrans %}
    </div>
{% endblock %}

{% block titre %}
    {% trans %}Disclaimer{% endtrans %}
{% endblock %}

{% block content %}

    <div class="box" style="padding: 50px;background: rgba(255,255,255,.8)">
    {{ include('mentions_legales/mentions_legales_eng.html.twig') }}
    </div>

{% endblock %}