{% extends 'base.html.twig' %}

{% block description %}
    <meta name="description" content="Legal Notice (EN). Mentions légales (FR)">
{% endblock %}

{#{% block title %}{% include('includes/nav_title.html.twig') %} Mentions légales{% endblock %}#}
{% block title %}{% include('includes/nav_title.html.twig') %} Disclamer{% endblock %}

{% block titre_landscape %}
    <div class="has-text-weight-bold is-uppercase is-family-monospace">
{#        Mentions légales#}
        Disclaimer
    </div>
{% endblock %}

{% block titre %}
{#    Mentions légales#}
    Disclaimer
{% endblock %}

{% block content %}

    <div class="box" style="padding: 50px;background: rgba(255,255,255,.8)">
    {{ include('mentions_legales/mentions_legales_eng.html.twig') }}

{#    {{ include('mentions_legales/mentions_legales_fr.html.twig') }}#}
    </div>
{% endblock %}