{% extends 'base.html.twig' %}

{% block description %}
    <meta name="description" content="Legal Notice (EN). Mentions légales (FR)">
{% endblock %}

{% block title %}{% trans %}Disclamer{% endtrans %}{% endblock %}

{% block titre_landscape %}
    <div class="has-text-weight-bold is-uppercase is-family-monospace is-size-7-touch" style="height: 100%;display: flex;justify-content: center;align-items: center;text-align: center;line-height: normal;">
        {% trans %}Disclaimer{% endtrans %}
    </div>
{% endblock %}

{% block titre %}
    {% trans %}Disclaimer{% endtrans %}
{% endblock %}

{% block content %}

    <div class="box" style="padding: 50px;background: rgba(255,255,255,.8)">
        {% if app.request.locale == 'fr' %}
            {{ include('mentions_legales/mentions_legales_fr.html.twig') }}
        {% elseif app.request.locale == 'en' %}
            {{ include('mentions_legales/mentions_legales_eng.html.twig') }}
        {% endif %}
    </div>

{% endblock %}