{% extends 'base.html.twig' %}

{% block description %}
    <meta name="description" content="Terms and Conditions (EN). Termes et conditions (FR)">
{% endblock %}

{% block title %}{% trans %}Terms and Conditions{% endtrans %}{% endblock %}

{% block titre_landscape %}
    <div class="has-text-weight-bold is-uppercase is-family-monospace">
        {% trans %}Terms and Conditions{% endtrans %}
    </div>
{% endblock %}

{% block titre %}
    {% trans %}Terms and Conditions{% endtrans %}
{% endblock %}

{% block content %}
    <div class="box" style="padding: 50px;background: rgba(255,255,255,.8)">
    {{ include('conditions_generales/conditions_generales_eng.html.twig') }}
    </div>
{% endblock %}