{% extends 'base.html.twig' %}

{% block title %}{% trans %}Licenses{% endtrans %}{% endblock %}

{% block description %}
    <meta name="description" content="Here you will find each license terms to use Beat Maker productions. Vous trouverez ici chaque modalités des licences pour exploiter les productions du Beat Maker.">
{% endblock %}

{% block titre_landscape %}
    {% trans %}Licenses{% endtrans %}
{% endblock %}

{% block titre %}
    {% trans %}Licenses{% endtrans %}
{% endblock %}

{% block section_bg %}background:top / cover no-repeat url('{{ asset('build/images/matos_vinny_edited_resized.1e9057d6.jpg')}}'){% endblock %}

{% block entete %}
    <h2 class="subtitle has-text-centered is-4 is-family-primary  has-text-white-bis" style="position: relative;margin-top:50px;padding: 10px;border-radius: 5px;background: rgba(0,0,0,.8);box-shadow: rgb(0, 0, 0) 0px 0px 10px">
        {% trans %}Want to get a beat? here are my offers{% endtrans %}
    </h2>
{% endblock %}

{% block img_header %}
    <div class="header-background-image" style="background: center / auto 100% no-repeat url({{ asset('build/images/contact_hands_2_resized.486d3640.jpg') }});box-shadow: 0 0 30px 10px black;">
        <div class="header-background-layer">
        </div>
    </div>
{% endblock %}

{% block content %}

            <a class="pricing-table " href="https://www.beatstars.com/vinnyvixi" >

                {% if app.request.locale == 'en' %}
                    {% include 'licences/licences_box_eng.html.twig' %}
                {% elseif app.request.locale == 'fr' %}
                    {% include 'licences/licences_box_fr.html.twig' %}
                {% endif %}


            </a>


    <script>
        let navLinkLicenses = document.getElementById('navLinkLicenses');
        navLinkLicenses.classList.add("navlink-active");
    </script>


{% endblock %}
