{% extends 'base.html.twig' %}

{% block title %}{% include('includes/nav_title.html.twig') %} Licences{% endblock %}

{% block content %}

    <section class="hero is-link is-small is-bold">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    Licences
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="subtitle">
                Section <strong class="has-text-link">Licences</strong>
            </h2>

            <article>
                <h3>H3 Article</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque blanditiis dolores doloribus dolorum eius eveniet magni nesciunt omnis! Cumque dolore fugiat harum illo, magni maxime odio omnis soluta voluptatem.</p>
            </article>

        </div>
    </section>


{% endblock %}
